moliere.css
.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    background-color: lightskyblue;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}
.direction:hover{
    background-color:rgb(14, 99, 71);
    color: rgb(213, 217, 221);
    text-shadow: 2px, 2px, 5px, rgb(48, 209, 155);
}

.Mme.Pernelle{
    font-style: italic;
    color: red;
}

.Elmire{
    font-style: italic;
    color: blueviolet;
}
.Dorine{
    font-style: italic;
    color: yellowgreen;
}